<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            width: 100px;
            height: 100px;
            background-color: red;
        }

        .green{
            width: 100px;
            height: 100px;
            background-color: green;
        }
    </style>
</head>
<body>
<h2>thymeleaf的学习</h2>
取值：<input th:value="${value}" />
<br >
循环：<input th:each="str:${list}" th:value="${str}"/>
<br>
<div th:each="str:${list}">
    <input  th:value="${str}"/>
</div>
<br >
判断：<input th:if="${1==1}" th:value="存在"/><br >
<div th:class="${1==num}?red:green"></div>
<br >
与js的交互：
<a th:href="'javascript:a(\''+${obj}+'\');'">点我</a>
<br >

内嵌页：
<div th:include="testInner::a"></div>
<br >
样式：
<div th:utext="${gname}"></div>
<script language="JavaScript">
    function a(num){
        alert(num);
    }
</script>
</body>
</html>